body {
  margin: 0;
}

.footer {
  color: black;
  display: table;
  text-align: center;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 310%;
  width: 100%;
}

form {
  padding: 20px;
  margin: 20px;
  background-color: #F2F2F2;
}

h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
  font-size: 6rem;
  font-family: serif;
}

h2 {
  color: white;
  font-size: 3rem;
  letter-spacing: 5rem;
  font-family: serif;
  color: grey;
  margin: 3%;
}

hr {
  width: 50%;
  height: 0;
  border: solid;
  display: table;
  margin: auto;
  color: black;
}

p {
  margin: 0;
  color: white;
  font-family: serif;
}

#contact {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 220%;
}

#home {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeText {
  display: table;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  position: relative;
  top: 30%;
}

.image {
  height: 400px;
}

#works {
  background-color: #FEF9EF;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 150%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100%;
}

#paintings {
  color: black;
  margin: 0 3%;
  background: linear-gradient(rgba(90,90,90,.1), rgba(90,90,90,.1));
  height: 400px;
  position: relative;
}

.logo {
  height: 50px;
}

.msgInp {
  width: 500px;
  height: 100px;
}

.git {
  margin: 20px 20px 0 20px;
  background-color: #F2F2F2;
  padding: 20px;
}

.socialsdiv {
  height: 20px;
  text-align: center;
}

.socials {
  height: 30px;
  text-align: center;
}

.socials:hover {
  border: 1px solid;
}
